@model List<EntityLayer.Concrete.Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
    string status = "";
    string color = "";
}

<br />
<table class="table table-bordered">

    <tr>
        <th>Kullanıcı Mail</th>
        <th>Yetki</th>
        <th>Durum</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@item.AdminUserName</td>
            <td>@item.AdminRole</td>
            <td>
                @{
                    if (item.AdminStatus == true)
                    {
                        status = "Aktif";
                        color = "badge badge-success";
                    }

                    else
                    {
                        status = "Pasif";
                        color = "badge badge-danger";
                    }
                }
                <span class="@color">@status</span>
            </td>

            <td>
                <a href="/Authorization/EditAdmin/@item.AdminId" class="btn btn-info btn-sm">Yetki Değiştir</a>

                @{
                    if (item.AdminStatus == false)
                    {
                        <a class="btn btn-success btn-sm" href="/Authorization/StatusAdmin/@item.AdminId">
                            <i class="fa fa-check"></i> Aktif Yap
                        </a>
                    }

                    else
                    {
                        <a class="btn btn-danger btn-sm" href="/Authorization/StatusAdmin/@item.AdminId">
                            <i class="fa fa-ban"></i>
                            Pasif Yap
                        </a>
                    }
                }
            </td>
        </tr>
    }

</table>
<a href="/Authorization/AddAdmin" class="btn btn-primary">Yeni Admin</a>