@model List<EntityLayer.Concrete.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string status = "";
    string color = "";
}

<h2>Hakkımda Veri Listesi</h2>

<br />
<table class="table table-bordered">

    <tr>
        <th style="width: 5%">#</th>
        <th>Hakkımda Başlığı</th>
        <th>Durum</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AboutID</th>
            <td>Başlık</td>
            <td>
                @{
                    if (item.AboutStatus == true)
                    {
                        status = "Aktif";
                        color = "badge badge-success";
                    }

                    else
                    {
                        status = "Pasif";
                        color = "badge badge-danger";
                    }
                }
                <span class="@color">@status</span>
            </td>
            <td class="project-actions">

                <a class="btn btn-info btn-sm" href="/About/UpdateAbout/@item.AboutID">
                    Güncelle
                </a>

                @{
                    if (item.AboutStatus == false)
                    {
                        <a class="btn btn-success btn-sm" href="/About/StatusAbout/@item.AboutID">
                            <i class="fa fa-check"></i> Aktif Yap
                        </a>
                    }

                    else
                    {
                        <a class="btn btn-danger btn-sm" href="/About/StatusAbout/@item.AboutID">
                            <i class="fa fa-ban"></i>
                            Pasif Yap
                        </a>
                    }
                }

            </td>
        </tr>
    }

</table>

@Html.Action("AboutPartial", "About")